<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="./errors.css">
</head>
<body>
    <div class="error-div">
        <h1>Error</h1>

        <h2>Get Requests for REST API</h2>
        <label>Show Swagger Documentation</label><br>
        <a href="swagger-ui/">
            <button>Swagger-ui</button>
        </a><br><br>
        <label>REST of Candidates</label><br>
        <a href="candidates">
            <button>Candidates</button>
        </a><br><br>
        <label>REST of Political Parties</label><br>
        <a href="parties">
            <button>Political Parties</button>
        </a><br>
    </div>
</body>
</html>